body, html {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

header {
}

nav {
  width: 95%;
}

.logo {
  float: left;
  padding-left: 8%;
  font-weight: bolder;
  font-size: 20px;
}

nav ul {
  list-style: none;
  float:right;
  padding-top: 8px;
}

nav li {
  float:left;
  padding-right: 20px;
}

.hero {
  width: 100%;
  clear: both;
  margin-bottom: 10%;
}

.banner {
  width: 100%;
}

header {
  clear: both;

}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

.knap {
  width: 50%;
  height: 50px;
  color: white;
  background-color: #343E6F;
  border: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.info1 {
  padding: 10%;
  padding-top: 20%;
  text-align: center;
  justify-content: center;
}
.info2 {
  padding: 10%;
  padding-top: 20%;
  text-align: center;
  justify-content: center;
}
.info3 {
  padding: 12%;
  padding-top: 30%;
  text-align: center;
  justify-content: center;
}

.box1 {
  width: 100%;
}

.taske {
  width: 100%;
}

.box2 {
  width: 100%;
}

.kvalitet {
  width: 100%;
}

.box3 {
  width: 100%;
}

.underlag {
  width: 100%;
}
