body, html {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

header {
}

nav {
  width: 95%;
}

.logo {
  float: left;
  padding-left: 8%;
  font-weight: bolder;
  font-size: 30px;
}

nav ul {
  list-style: none;
  float:right;
  padding-top: 8px;
  font-size: 25px;
}

nav li {
  float:left;
  padding-right: 30px;
}

.hero {
  width: 100%;
  clear: both;
  margin-bottom: 10%;
}

.banner {
  width: 100%;
}

header {
  clear: both;

}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

.knap {
  width: 50%;
  height: 50px;
  color: white;
  background-color: #343E6F;
  border: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.info1 {
  max-width: 700px;
  padding: 20% 10% 0 10%;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
.info2 {
  max-width: 600px;
  padding: 20% 10% 0 20%;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
.info3 {
  max-width: 600px;
  padding: 30% 10% 0 10%;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}

.box1 {
  width: 100%;
}

.taske {
  width: 100%;
}

.box2 {
  width: 100%;
}

.kvalitet {
  width: 100%;
}

.box3 {
  width: 100%;
}

.underlag {
  width: 100%;
}


--------/*til landingpage */--------

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
.privatside {width: 100%; height: 100vh;}
.erhvervside { }


#privat {
  width: 100%;
}

#erhverv {
  width: 100%;
}

#bjerretekst {
  position: absolute;
      left: 16px;
      padding-left: 44%;
}

#leathertekst {
  position: absolute;
    left: 16px;
    padding-left: 49%;
=======
@media only screen and (max-width: 600px) {

  .main {
    display: grid;
    grid-template-columns: 1fr;
    }


}
